#header { width: 100%;
	height: 80px;
	background: #4B6E3B;
	padding: 10px 20px;
	position: fixed;
	top: 0;
	left: 0;
}

#menu { width: 100%;
        height: 50px;
	background: #9BBD8C;
	padding: 10px 20px;
	position: fixed;
	top: 100px;
	left: 0;
	text-align: center;
}

#content { height: 40%;
        width: 40%;
        background: White;
	position: fixed;
	top: 200px;
	left: 800px;
}

#main { height: 40%;
	width: 40%;
	background: White;
	padding: 50px;
	position: fixed;
	top: 200px;
	left: 50px;
	bottom: 100px;
}

#mainf {height: 100%;
	width: 80%;
	background: White;
	padding: 50px;
	margin: 150 auto;
	text-align: center;
}

#footer { height: 50px;
        width: 100%;
        background: #323B2E;
	padding: 20px 20px;
	position: fixed;
	bottom: 0;
	left: 0;
}
